body {
    font-family: "Lato", sans-serif;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: pink;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  span{
    color: white; cursor:pointer ;
    width: 200px;
    height: 200px; 
    font-size :35px;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
   }
   img{
    border-radius: 70%;
    width: 300px;
    height: 300px;
    margin-left:10%;
   }

   .container{
   color:white;
   border: 2px solid #12295b;
   background-color: #12295b;
   border-radius: 10px;
   position: absolute;
   top:250px;
   right: 200px;
   width: 400px;
   padding: 10px;
   height: 200px;
   
   }

   p{
    color: white;
    font-size: 20px;
    
   }

   footer{
    background-color:#12295b;
    text-align: center;
    padding: 20px;
     margin-top:300px;
      height: 90px;
   }

   .fact{color:white;
    border: 2px solid #12295b;
    background-color: #12295b;
    border-radius: 10px;
    position: absolute;
    top:580px;
    right: 200px;
    width: 200px;
    padding: 10px;
    height: 130px;
  margin-bottom: 20%;
}

.fact2{color:white;
  border: 2px solid #12295b;
  background-color: #12295b;
  border-radius: 10px;
  position: absolute;
  top:580px;
  right: 500px;
  width: 200px;
  padding: 10px;
  height: 130px;
  margin-bottom: 20%;
}

.fact3{
  color:white;
  border: 2px solid #12295b;
  background-color: #12295b;
  border-radius: 10px;
  position: absolute;
  top:580px;
  right: 800px;
  width: 200px;
  padding: 10px;
  height: 130px;
  margin-bottom: 20%;
}
  