
        body {
          font-family: "Lato", sans-serif;
        }
        
        .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color:whitesmoke;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
        }
        
        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: black;
          display: block;
          transition: 0.3s;
        }
        
        .sidenav a:hover {
          color: pink;
        }
        
        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
        
        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }
        .logo {
          position: absolute;
          top: 10px; /* Adjust the top position as needed */
          right: 10px; /* Adjust the right position as needed */
          height: 70px;
          width: 70px;
          margin-right: 5%;
      }
        h1{
          color: white;
          text-align: center;
          font-family: 'Times New Roman', Times, serif;
          margin-top: 5%;
        }
        
        span{
          color: white; cursor:pointer ;
          width: 200px;
          height: 200px; 
          font-size :35px;
        }
         body{
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          position: relative;
         }

         .overlay-text{
          color: white; 
          font-family: 'Times New Roman', Times, serif;
          font-size: 40px;
           margin-top: 15%;
           margin-bottom: 18%;
            text-align: center;
         }
        
         footer{
          background-color:#12295b;
          text-align: center;
          padding: 20px;
           margin-top:50px;
            height: 90px;
         }
      