body {
    font-family: "Lato", sans-serif;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: pink;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  span{
    color: white; cursor:pointer ;
    width: 200px;
    height: 200px; 
    font-size :35px;
  }
  

  h1{
  color: white;
  text-align: center;
  margin-top: 5%;
 }

 p{
  color: white;
 }

 body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
position: relative;
}

.sports{
  color:white;
  border: 2px solid black;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  top:250px;
  right: 200px;
  width: 300px;
  padding: 10px;
  height: 200px;
  margin-bottom: 20%;
  margin-right: 5%;
}

.basket{
  height: 350px;
  width: 500px;
  right: 200px;
  margin-left: 5%;
}

.app{
  color:white;
  border: 2px solid black;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  top:670px;
  right: 250px;
  width: 300px;
  padding: 10px;
  height: 240px;
  margin-bottom: 20%;

}

.mbro{
  height: 350px;
  width: 500px;
  margin-left: 5%;
}

.camp{
  color:white;
  border: 2px solid black;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  top:1100px;
  right: 250px;
  width: 300px;
  padding: 10px;
  height: 200px;
  margin-bottom: 20%;
  
}

.prj{
  height: 350px;
  width: 500px;
  margin-left: 5%;
}

h2{
  color: white;
}